#center-pane {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #A0A0A0;
}

#workarea {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  overflow: scroll;
}

#zoom {
  position: absolute;
  bottom: 80px;
  right: 100px;
}

svg {
  background-color: #ffffff;
}
