.center-pane {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #A0A0A0;
}

.workarea {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  overflow: scroll;
}

#zoom {
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.ruler-corner {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #000000;
}

.ruler-x {
  z-index: 1;
  position: absolute;
  margin-left: 15px;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #dddddd;p
}

.ruler-y {
  z-index: 1;
  position: absolute;
  margin-top: 15px;
  top: 0;
  bottom: 0;
  width: 15px;
  background-color: #dddddd;
}

.canvas {
  position: absolute;
  width: 1920px;
  height: 1440px;
  background-color: #757575;
}

svg {
  position: absolute;
  /* left: 710px; */
  /* top: 470px; */
  /* margin-left: 15px; */
  /* margin-top: 15px; */
  background-color: #ffffff;
}
