.center-pane {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #A0A0A0;
}

.workarea {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  overflow: scroll;
}

#zoom {
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.ruler-corner {
  z-index: 1;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: solid 1px #000000;
  background-color: #dddddd;
}

.ruler-x {
  z-index: 1;
  position: absolute;
  margin-top: -15px;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #dddddd;
}

.ruler-y {
  z-index: 1;
  position: absolute;
  margin-left: -15px;
  top: 0;
  bottom: 0;
  width: 15px;
  background-color: #dddddd;
}

.canvas {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #757575;
}

.content-wrapper {
  position: absolute;
  background-color: #ffffff;
}
